section.banner-1 {
	background-color: $color-1;
	padding: 0;

	.container:first-child {
		z-index: 20;

		.row {
			min-height: 350px;
		}
	}
	.container:last-child {
		@include medium {
			left: 0;
			position: absolute;
			top: 0;
			height: 100%;
			z-index: 10;

			.row {
				height: 100%;
			}
		}
	}
	.background {
		background-color: $color-1;
	}
	.image {
		@include background('', cover, center, no-repeat);
		padding: 60% 0 0 0;

		@include medium {
			padding: 0;
		}
	}
	.box {
		padding-right: $gutter;
		width: 100%;

		.title {
			color: #fff;
			font-family: $font-1;
			font-weight: normal;
			letter-spacing: 4px;
			line-height: 105%;
			margin-bottom: $text-margin;
			@include responsiveText(40px, .14);

			&:first-letter {
				font-family: $font-2;
			}
		}

		.subtitle {
			color: #fff;
			font-family: $font-1;
			font-weight: normal;
			line-height: 120%;
			margin-bottom: $text-margin;
			@include responsiveText(25px, .14);
		}

		.text {
			color: #fff;
			font-family: $font-1;
			@include responsiveText(17px, .08);
			font-weight: normal;
			line-height: 160%;
		}
	}
}