.section-header {
	h1 {
		line-height:105%;
		@include responsiveText(40px, .15);
	}
	h2 {
		line-height:105%;
		@include responsiveText(40px, .15);
	}
	h3 {
		line-height:105%;
		@include responsiveText(30px, .15);
	}
	h4 {
		line-height:105%;
		@include responsiveText(20px, .1);
	}
	h5 {
		@include responsiveText(17px, .08);
	}
	h6 {
		@include responsiveText(17px, .08);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-2;
		color: $color-1;
		font-weight: 400;
	}
	&.alt {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color-2;
		}
	}

	hr {
		border: 0;
		border-bottom: 4px solid darken($grey-1, 8%);
		display: block;
		height: 0;
		margin: 0;
		width: 100px;
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	p,
	ul,
	ol,
	table,
	hr {
		&:not(:last-child) {
			margin-bottom: $text-margin;
		}
	}
}

.content {
	h1 {
		line-height:105%;
		@include responsiveText(35px, .15);
	}
	h2 {
		line-height:105%;
		@include responsiveText(30px, .15);
	}
	h3 {
		line-height:105%;
		@include responsiveText(25px, .1);
	}
	h4 {
		line-height:105%;
		@include responsiveText(20px, .1);
	}
	h5 {
		line-height:105%;
		@include responsiveText(18px, .08);
	}
	h6 {
		line-height:105%;
		@include responsiveText(17px, .08);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color-1;
		font-family: $font-1;
		font-weight: 600;

		&:first-letter {
			font-family: $font-2;
		}
	}
	&.alt {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color-2;
		}
	}

	a {
		color: $color-1;
		text-decoration: underline;
	}

	ul {
		display: table;
		list-style: none;

		li {
			display: block;
			padding-left: 16px;
			position: relative;

			&:before {
				background-color: $grey-3;
				@include border-radius(50%);
				content: '';
				height: 6px;
				@include position(absolute, 10px, none, none, 0);
				width: 6px;
			}
		}
	}

	ol {
		display: table;
		padding-left: 19px;
	}

	table {
		width: 100%;

		tr {
			th,
			td {
				border-bottom: 1px solid lighten($grey-2, 35%);
				padding: 4px 8px;

				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			th {
				border-bottom: 1px solid $grey-2;
				font-weight: bold;
				font-size: 18px;
			}
		}

		i {
			color: $color-1;
			font-family: $font-2;
			font-style: normal;
			font-weight: 400;
		}
	}

	hr {
		border: 0;
		border-bottom: 4px solid $grey-1;
		display: block;
		height: 0;
		margin: 0;
		margin-bottom: $text-margin;
		width: 100px;
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	table,
	hr {
		&:not(:last-child) {
			margin-bottom: $text-margin;
		}
	}

	&.light {
		color: #fff;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6, {
			color: #fff;
		}
	}
}