.container {
	margin: 0 auto;
	position: relative;

	&.fluid-xs {
		min-width: 100%;
	}
}

.row {
	@include display-flex;
	@include flex-wrap(wrap);
	padding-left: $gutter;
	padding-right: $gutter;
	position: relative;

	&.direction-xs-column {
		@include flex-direction(column);
	}
	&.direction-xs-row {
		@include flex-direction(row);
	}
}

[class*="col-"] {
	float: left;
	order: 1;
	padding: $gutter;
	position: relative;
	width: 100%;
}

.col-xs-1 { width: 8.333333333333333% }
.col-xs-2 { width: 16.66666666666667% }
.col-xs-3 { width: 25% }
.col-xs-4 { width: 33.33333333333333% }
.col-xs-5 { width: 41.66666666666667% }
.col-xs-6 { width: 50% }
.col-xs-7 { width: 58.33333333333333% }
.col-xs-8 { width: 66.66666666666667% }
.col-xs-9 { width: 75% }
.col-xs-10 { width: 83.33333333333333% }
.col-xs-11 { width: 91.66666666666667% }
.col-xs-12 { width: 100% }

.push-xs-0 { margin-left: 0 }
.push-xs-1 { margin-left: 8.333333333333333% }
.push-xs-2 { margin-left: 16.66666666666667% }
.push-xs-3 { margin-left: 25% }
.push-xs-4 { margin-left: 33.33333333333333% }
.push-xs-5 { margin-left: 41.66666666666667% }
.push-xs-6 { margin-left: 50% }
.push-xs-7 { margin-left: 58.33333333333333% }
.push-xs-8 { margin-left: 66.66666666666667% }
.push-xs-9 { width: 75% }
.push-xs-10 { margin-left: 83.33333333333333% }
.push-xs-11 { margin-left: 91.66666666666667% }
.push-xs-12 { margin-left: 100% }

.clear-gutter-xs { padding: 0; }
.double-gutter-xs { padding: calc(#{$gutter} * 2); }
.reset-gutter-xs { padding: $gutter; }

.clear-gutter_h-xs { padding-left: 0; padding-right: 0; }
.double-gutter_h-xs { padding-left: calc(#{$gutter} * 2); padding-right: calc(#{$gutter} * 2); }
.reset-gutter_h-xs { padding-left: $gutter; padding-right: $gutter; }

.clear-gutter_v-xs { padding-bottom: 0; padding-top: 0; }
.double-gutter_v-xs { padding-bottom: calc(#{$gutter} * 2); padding-top: calc(#{$gutter} * 2); }
.reset-gutter_v-xs { padding-bottom: $gutter; padding-top: $gutter; }

[class*="va-"],
[class*="ha-"] {
	@include display-flex;
	@include flex-direction(row);
}

.va-xs-top { @include align-items(flex-start); }
.va-xs-bottom { @include align-items(flex-end); }
.va-xs-stretch { @include align-items(stretch); }
.va-xs-center { @include align-items(center); }
.va-xs-baseline { @include align-items(baseline); }

.ha-xs-left { @include justify-content(flex-start); }
.ha-xs-right { @include justify-content(flex-end); }
.ha-xs-center { @include justify-content(center); }
.ha-xs-space-between { @include justify-content(space-between); }
.ha-xs-space-around { @include justify-content(space-around); }
.ha-xs-space-evenly { @include justify-content(space-evenly); }

.order-xs-first { order: 0; }
.order-xs-last { order: 100; }
.order-xs-default { order: 1; }

.hidden-xs { display: none; }
.visible-xs { display: block; }
.visible-flex-xs { @include display-flex; }

@include small {
	.container {
		max-width: $viewport-sm;

		&.fluid-sm {
			min-width: 100%;
		}
		&.contained-sm {
			min-width: 0;
		}
	}

	.row {
		&.direction-sm-column {
			@include flex-direction(column);
		}
		&.direction-sm-row {
			@include flex-direction(row);
		}
	}

	.col-sm-1 { width: 8.333333333333333% }
	.col-sm-2 { width: 16.66666666666667% }
	.col-sm-3 { width: 25% }
	.col-sm-4 { width: 33.33333333333333% }
	.col-sm-5 { width: 41.66666666666667% }
	.col-sm-6 { width: 50% }
	.col-sm-7 { width: 58.33333333333333% }
	.col-sm-8 { width: 66.66666666666667% }
	.col-sm-9 { width: 75% }
	.col-sm-10 { width: 83.33333333333333% }
	.col-sm-11 { width: 91.66666666666667% }
	.col-sm-12 { width: 100% }

	.push-sm-0 { margin-left: 0 }
	.push-sm-1 { margin-left: 8.333333333333333% }
	.push-sm-2 { margin-left: 16.66666666666667% }
	.push-sm-3 { margin-left: 25% }
	.push-sm-4 { margin-left: 33.33333333333333% }
	.push-sm-5 { margin-left: 41.66666666666667% }
	.push-sm-6 { margin-left: 50% }
	.push-sm-7 { margin-left: 58.33333333333333% }
	.push-sm-8 { margin-left: 66.66666666666667% }
	.push-sm-9 { width: 75% }
	.push-sm-10 { margin-left: 83.33333333333333% }
	.push-sm-11 { margin-left: 91.66666666666667% }
	.push-sm-12 { margin-left: 100% }

	.clear-gutter-sm { padding: 0; }
	.double-gutter-sm { padding: calc(#{$gutter} * 2); }
	.reset-gutter-sm { padding: $gutter; }

	.clear-gutter_h-sm { padding-left: 0; padding-right: 0; }
	.double-gutter_h-sm { padding-left: calc(#{$gutter} * 2); padding-right: calc(#{$gutter} * 2); }
	.reset-gutter_h-sm { padding-left: $gutter; padding-right: $gutter; }

	.clear-gutter_v-sm { padding-bottom: 0; padding-top: 0; }
	.double-gutter_v-sm { padding-bottom: calc(#{$gutter} * 2); padding-top: calc(#{$gutter} * 2); }
	.reset-gutter_v-sm { padding-bottom: $gutter; padding-top: $gutter; }

	.va-sm-top { @include align-items(flex-start); }
	.va-sm-bottom { @include align-items(flex-end); }
	.va-sm-stretch { @include align-items(stretch); }
	.va-sm-center { @include align-items(center); }
	.va-sm-baseline { @include align-items(baseline); }

	.ha-sm-left { @include justify-content(flex-start); }
	.ha-sm-right { @include justify-content(flex-end); }
	.ha-sm-center { @include justify-content(center); }
	.ha-sm-space-between { @include justify-content(space-between); }
	.ha-sm-space-around { @include justify-content(space-around); }
	.ha-sm-space-evenly { @include justify-content(space-evenly); }

	.order-sm-first { order: 0; }
	.order-sm-last { order: 100; }
	.order-sm-default { order: 1; }

	.hidden-sm { display: none; }
	.visible-sm { display: block; }
	.visible-flex-sm { @include display-flex; }
}

@include medium {
	.container {
		max-width: $viewport-md;

		&.fluid-md {
			min-width: 100%;
		}
		&.contained-md {
			min-width: 0;
		}
	}

	.row {
		&.direction-md-column {
			@include flex-direction(column);
		}
		&.direction-md-row {
			@include flex-direction(row);
		}
	}

	.col-md-1 { width: 8.333333333333333% }
	.col-md-2 { width: 16.66666666666667% }
	.col-md-3 { width: 25% }
	.col-md-4 { width: 33.33333333333333% }
	.col-md-5 { width: 41.66666666666667% }
	.col-md-6 { width: 50% }
	.col-md-7 { width: 58.33333333333333% }
	.col-md-8 { width: 66.66666666666667% }
	.col-md-9 { width: 75% }
	.col-md-10 { width: 83.33333333333333% }
	.col-md-11 { width: 91.66666666666667% }
	.col-md-12 { width: 100% }

	.push-md-0 { margin-left: 0 }
	.push-md-1 { margin-left: 8.333333333333333% }
	.push-md-2 { margin-left: 16.66666666666667% }
	.push-md-3 { margin-left: 25% }
	.push-md-4 { margin-left: 33.33333333333333% }
	.push-md-5 { margin-left: 41.66666666666667% }
	.push-md-6 { margin-left: 50% }
	.push-md-7 { margin-left: 58.33333333333333% }
	.push-md-8 { margin-left: 66.66666666666667% }
	.push-md-9 { width: 75% }
	.push-md-10 { margin-left: 83.33333333333333% }
	.push-md-11 { margin-left: 91.66666666666667% }
	.push-md-12 { margin-left: 100% }

	.clear-gutter-md { padding: 0; }
	.double-gutter-md { padding: calc(#{$gutter} * 2); }
	.reset-gutter-md { padding: $gutter; }

	.clear-gutter_h-md { padding-left: 0; padding-right: 0; }
	.double-gutter_h-md { padding-left: calc(#{$gutter} * 2); padding-right: calc(#{$gutter} * 2); }
	.reset-gutter_h-md { padding-left: $gutter; padding-right: $gutter; }

	.clear-gutter_v-md { padding-bottom: 0; padding-top: 0; }
	.double-gutter_v-md { padding-bottom: calc(#{$gutter} * 2); padding-top: calc(#{$gutter} * 2); }
	.reset-gutter_v-md { padding-bottom: $gutter; padding-top: $gutter; }

	.va-md-top { @include align-items(flex-start); }
	.va-md-bottom { @include align-items(flex-end); }
	.va-md-stretch { @include align-items(stretch); }
	.va-md-center { @include align-items(center); }
	.va-md-baseline { @include align-items(baseline); }

	.ha-md-left { @include justify-content(flex-start); }
	.ha-md-right { @include justify-content(flex-end); }
	.ha-md-center { @include justify-content(center); }
	.ha-md-space-between { @include justify-content(space-between); }
	.ha-md-space-around { @include justify-content(space-around); }
	.ha-md-space-evenly { @include justify-content(space-evenly); }

	.order-md-first { order: 0; }
	.order-md-last { order: 100; }
	.order-md-default { order: 1; }

	.hidden-md { display: none; }
	.visible-md { display: block; }
	.visible-flex-md { @include display-flex; }
}

@include large {
	.container {
		max-width: $viewport-lg;

		&.fluid-lg {
			min-width: 100%;
		}
		&.contained-lg {
			min-width: 0;
		}
	}

	.row {
		&.direction-lg-column {
			@include flex-direction(column);
		}
		&.direction-lg-row {
			@include flex-direction(row);
		}
	}

	.col-lg-1 { width: 8.333333333333333% }
	.col-lg-2 { width: 16.66666666666667% }
	.col-lg-3 { width: 25% }
	.col-lg-4 { width: 33.33333333333333% }
	.col-lg-5 { width: 41.66666666666667% }
	.col-lg-6 { width: 50% }
	.col-lg-7 { width: 58.33333333333333% }
	.col-lg-8 { width: 66.66666666666667% }
	.col-lg-9 { width: 75% }
	.col-lg-10 { width: 83.33333333333333% }
	.col-lg-11 { width: 91.66666666666667% }
	.col-lg-12 { width: 100% }

	.push-lg-0 { margin-left: 0 }
	.push-lg-1 { margin-left: 8.333333333333333% }
	.push-lg-2 { margin-left: 16.66666666666667% }
	.push-lg-3 { margin-left: 25% }
	.push-lg-4 { margin-left: 33.33333333333333% }
	.push-lg-5 { margin-left: 41.66666666666667% }
	.push-lg-6 { margin-left: 50% }
	.push-lg-7 { margin-left: 58.33333333333333% }
	.push-lg-8 { margin-left: 66.66666666666667% }
	.push-lg-9 { width: 75% }
	.push-lg-10 { margin-left: 83.33333333333333% }
	.push-lg-11 { margin-left: 91.66666666666667% }
	.push-lg-12 { margin-left: 100% }

	.clear-gutter-lg { padding: 0; }
	.double-gutter-lg { padding: calc(#{$gutter} * 2); }
	.reset-gutter-lg { padding: $gutter; }

	.clear-gutter_h-lg { padding-left: 0; padding-right: 0; }
	.double-gutter_h-lg { padding-left: calc(#{$gutter} * 2); padding-right: calc(#{$gutter} * 2); }
	.reset-gutter_h-lg { padding-left: $gutter; padding-right: $gutter; }

	.clear-gutter_v-lg { padding-bottom: 0; padding-top: 0; }
	.double-gutter_v-lg { padding-bottom: calc(#{$gutter} * 2); padding-top: calc(#{$gutter} * 2); }
	.reset-gutter_v-lg { padding-bottom: $gutter; padding-top: $gutter; }

	.va-lg-top { @include align-items(flex-start); }
	.va-lg-bottom { @include align-items(flex-end); }
	.va-lg-stretch { @include align-items(stretch); }
	.va-lg-center { @include align-items(center); }
	.va-lg-baseline { @include align-items(baseline); }

	.ha-lg-left { @include justify-content(flex-start); }
	.ha-lg-right { @include justify-content(flex-end); }
	.ha-lg-center { @include justify-content(center); }
	.ha-lg-space-between { @include justify-content(space-between); }
	.ha-lg-space-around { @include justify-content(space-around); }
	.ha-lg-space-evenly { @include justify-content(space-evenly); }

	.order-lg-first { order: 0; }
	.order-lg-last { order: 100; }
	.order-lg-default { order: 1; }

	.hidden-lg { display: none; }
	.visible-lg { display: block; }
	.visible-flex-lg { @include display-flex; }
}

@include extralarge {
	.container {
		max-width: $viewport-xl;

		&.fluid-xl {
			min-width: 100%;
		}
		&.contained-xl {
			min-width: 0;
		}
	}

	.row {
		&.direction-xl-column {
			@include flex-direction(column);
		}
		&.direction-xl-row {
			@include flex-direction(row);
		}
	}

	.col-xl-1 { width: 8.333333333333333% }
	.col-xl-2 { width: 16.66666666666667% }
	.col-xl-3 { width: 25% }
	.col-xl-4 { width: 33.33333333333333% }
	.col-xl-5 { width: 41.66666666666667% }
	.col-xl-6 { width: 50% }
	.col-xl-7 { width: 58.33333333333333% }
	.col-xl-8 { width: 66.66666666666667% }
	.col-xl-9 { width: 75% }
	.col-xl-10 { width: 83.33333333333333% }
	.col-xl-11 { width: 91.66666666666667% }
	.col-xl-12 { width: 100% }

	.push-xl-0 { margin-left: 0 }
	.push-xl-1 { margin-left: 8.333333333333333% }
	.push-xl-2 { margin-left: 16.66666666666667% }
	.push-xl-3 { margin-left: 25% }
	.push-xl-4 { margin-left: 33.33333333333333% }
	.push-xl-5 { margin-left: 41.66666666666667% }
	.push-xl-6 { margin-left: 50% }
	.push-xl-7 { margin-left: 58.33333333333333% }
	.push-xl-8 { margin-left: 66.66666666666667% }
	.push-xl-9 { width: 75% }
	.push-xl-10 { margin-left: 83.33333333333333% }
	.push-xl-11 { margin-left: 91.66666666666667% }
	.push-xl-12 { margin-left: 100% }

	.clear-gutter-xl { padding: 0; }
	.double-gutter-xl { padding: calc(#{$gutter} * 2); }
	.reset-gutter-xl { padding: $gutter; }

	.clear-gutter_h-xl { padding-left: 0; padding-right: 0; }
	.double-gutter_h-xl { padding-left: calc(#{$gutter} * 2); padding-right: calc(#{$gutter} * 2); }
	.reset-gutter_h-xl { padding-left: $gutter; padding-right: $gutter; }

	.clear-gutter_v-xl { padding-bottom: 0; padding-top: 0; }
	.double-gutter_v-xl { padding-bottom: calc(#{$gutter} * 2); padding-top: calc(#{$gutter} * 2); }
	.reset-gutter_v-xl { padding-bottom: $gutter; padding-top: $gutter; }

	.va-xl-top { @include align-items(flex-start); }
	.va-xl-bottom { @include align-items(flex-end); }
	.va-xl-stretch { @include align-items(stretch); }
	.va-xl-center { @include align-items(center); }
	.va-xl-baseline { @include align-items(baseline); }

	.ha-xl-left { @include justify-content(flex-start); }
	.ha-xl-right { @include justify-content(flex-end); }
	.ha-xl-center { @include justify-content(center); }
	.ha-xl-space-between { @include justify-content(space-between); }
	.ha-xl-space-around { @include justify-content(space-around); }
	.ha-xl-space-evenly { @include justify-content(space-evenly); }

	.order-xl-first { order: 0; }
	.order-xl-last { order: 100; }
	.order-xl-default { order: 1; }

	.hidden-xl { display: none; }
	.visible-xl { display: block; }
	.visible-flex-xl { @include display-flex; }
}