/* COLOR PALETTE --------------------------------- */

$color-1: #ff0000; // Red
$color-2: #000; // Black

$grey-1: #f2f2f2; // Light grey
$grey-2: #999999; // Medium grey
$grey-3: #505050; // Dark grey
$grey-4: #242424; // Almost black

$color-error: #f02a2a;
$color-success: #20a623;

/* FONTS ------------------------------------------ */

$font-1: 'Open Sans', sans-serif;
$font-2: 'Courgette', cursive;

/* GRID ------------------------------------------ */

$viewport-sm: 480px;
$viewport-md: 786px;
$viewport-lg: 992px;
$viewport-xl: 1320px;

$gutter: 20px;

/* VARIOUS ---------------------------------------- */

$ui-radius: 5px;
$button-radius: 5px;
$section-padding: 30px;
$section-card-padding: 70px;
$text-margin: 20px;