section.hero-3 {
	@include clip-path(polygon(0 40px, 65px 0, 100% 0, 100% 100%, 0 100%));
	@include flex(row, nowrap, center, center);
	height: 300px;
	position: relative;
	z-index: 20;

	@include medium {
		@include clip-path(polygon(0 80px, 130px 0, 100% 0, 100% 100%, 0 100%));
	}

	.parallax {
		z-index: 10;

		&:before {
			background-color: rgba(#000, 0.2);
			content: '';
			@include position(absolute, 0, 0, 0, 0);
			z-index: 10;
		}
	}

	.watermark {
		@include background('../img/bg/rooftop.svg', cover, center, no-repeat);
		bottom: -5px;
		right: -5px;
		position: absolute;
		width: 400px;
		z-index: 30;

		&:before {
			content: '';
			display: block;
			padding-top: 31.13839285714286%;
			position: relative;
		}
	}

	.container {
		@include flex-grow(1);
		z-index: 20;

		> div:last-child {
			margin-bottom: 0;
		}

		.title {
			color: #fff;
			font-family: $font-2;
			font-weight: normal;
			letter-spacing: 8px;
			line-height: 105%;
			@include responsiveText(45px, .14);
			text-transform: uppercase;
		}
	}
}