section.hero-1 {
	@include flex(row, nowrap, center, center);
	height: 690px;
	overflow: hidden;
	position: relative;
	z-index: 20;

	@include medium {
		height: 560px;
	}

	&:before {
		border-bottom: 5px solid #fff;
		border-left: 5px solid #fff;
		content: '';
		bottom: 16px;
		height: 90px;
		left: 16px;
		width: 80px;
		position: absolute;
		z-index: 40;
	}
	&:after {
		border-bottom: 5px dashed #fff;
		content: '';
		bottom: 16px;
		left: 110px;
		width: 45px;
		position: absolute;
		z-index: 40;
	}

	.owl-parallax {
		bottom: 0;
		left: 0;
		position:absolute;
		@include transition(transform, ease, 1s);

		&.background {
			@include background('', cover, center, no-repeat);
			top: 0;
			width: 125%;
			z-index: 10;
		}
		&.foreground {
			@include background('', cover, center top, no-repeat);
			top: 80%;
			width: 175%;
			z-index: 20;
		}
	}

	.owl-carousel {
		z-index: 30;

		.owl-nav {
			@include flex(row, wrap, center, center);

			> div {
				color: transparent;
				font-size: 0;
				height: 38px;
				margin-top: -19px;
				position: absolute;
				top: 50%;
			}
			.owl-prev {
				left: 10px;

				&:before {
					color: #fff;
				  	content: "\36";
					font-family: "icons" !important;
					font-size: 38px;
					line-height: 38px;
				}

				&.disabled {
					@include opacity(.2);
				}
			}
			.owl-next {
				right: 10px;

				&:before {
					color: #fff;
					content: "\37";
					font-family: "icons" !important;
					font-size: 38px;
					line-height: 38px;
				}

				&.disabled {
					@include opacity(.2);
				}
			}
		}
	}

	.product {
		.product-info {
			color: #fff;

			h1 {
				font-family: $font-1;
				line-height:105%;
				@include responsiveText(40px, .15);
				font-weight: 600;
				margin-bottom: 35px;

				&:first-letter {
					font-family: $font-2;
				}
			}
			p {
				font-size: 15px;

				&:not(:last-child) {
					margin-bottom: 35px;
				}
			}
		}
		.product-photo {
			img {
				display: block;
				margin: 0 auto;
				max-height: 200px;
				width: auto;
				@include transform(rotate(10deg));

				@include medium {
					max-height: 410px;
				}
			}
		}
	}
}