section.hero-1 {
	@include flex(row, nowrap, center, center);
	height: 690px;
	position: relative;
	z-index: 20;

	@include medium {
		height: 560px;
	}

	&:before {
		border-bottom: 5px solid #fff;
		border-left: 5px solid #fff;
		content: '';
		bottom: 16px;
		height: 90px;
		left: 16px;
		width: 80px;
		position: absolute;
		z-index: 20;
	}
	&:after {
		border-bottom: 5px dashed #fff;
		content: '';
		bottom: 16px;
		left: 110px;
		width: 45px;
		position: absolute;
		z-index: 20;
	}

	.image {
		@include background('', cover, center, no-repeat);
		@include position;
		z-index: 10;

		&:before {
			background-color: rgba(#000, 0.85);
			content: '';
			@include position(absolute, 0, 0, 0, 0);
			z-index: 10;
		}
	}

	.owl-carousel {
		z-index: 20;

		.owl-nav {
			@include flex(row, wrap, center, center);

			> div {
				color: transparent;
				font-size: 0;
				height: 38px;
				margin-top: -19px;
				position: absolute;
				top: 50%;
			}
			.owl-prev {
				left: 10px;

				&:before {
					color: #fff;
				  	content: "\36";
					font-family: "icons" !important;
					font-size: 38px;
					line-height: 38px;
				}
			}
			.owl-next {
				right: 10px;

				&:before {
					color: #fff;
					content: "\37";
					font-family: "icons" !important;
					font-size: 38px;
					line-height: 38px;
				}
			}
		}
	}

	.product {
		.product-info {
			color: #fff;

			h1 {
				font-family: $font-2;
				line-height:105%;
				@include responsiveText(40px, .15);
				font-weight: 400;
				margin-bottom: 35px;
			}
			p {
				font-size: 15px;

				&:not(:last-child) {
					margin-bottom: 35px;
				}
			}
		}
		.product-photo {
			img {
				display: block;
				margin: 0 auto;
				max-height: 200px;
				width: auto;
				@include transform(rotate(10deg));

				@include medium {
					max-height: 410px;
				}
			}
		}
	}
}