header.header-1 {
	background-color: #fff;
	padding-top: 20px;
	position: relative;
	z-index: 100;

	.logo {
		padding: 0 20px 20px 0;

		a {
			display: block;
			@include transition;

			@include hover {
				@include transform(scale(1.1));
			}
		}
		img {
			width: 240px;
		}
	}

	.menu {
		@include flex-grow(1);
		position: relative;
		z-index: 20;
	}

	#main-menu {
		> ul {
			@include flex(row, nowrap, flex-end);

			> li {
				@include display-flex;
				position: relative;

				@include hover {
					> a {
						color: $color-1;
					}

					> ul {
						display: block;
						visibility: visible;
						@include transform(scaleY(1));
					}
				}
				&.active {
					> a {
						color: $color-1;

						&:before {
							background-color: $color-1;
							bottom: -5px;
							content: '';
							height: 5px;
							left: 0;
							position: absolute;
							right: 0;
						}
					}
				}

				> a {
					color: $color-2;
					@include align-items(center);
					@include display-flex;
					font-family: $font-1;
					font-weight: 700;
					line-height: 100%;
					position: relative;
					@include responsiveText(18px, .06);
					text-decoration: none;
					white-space: nowrap;
				}
			}
		}

		@include medium {
			> ul {
				margin-right: -10px;

				> li {
					> a {
						padding: 20px 10px;
					}
				}
			}
		}
		@include large {
			> ul {
				margin-right: -18px;

				> li {
					> a {
						padding: 20px 18px;
					}
				}
			}
		}
		@include extralarge {
			> ul {
				margin-right: -25px;

				> li {
					> a {
						padding: 20px 25px;
					}
				}
			}
		}
	}

	.mobile-menu {
		padding: 0 0 20px;
	}

	#mobile-menu-trigger {
		@include align-items(center);
		background-color: $color-1;
		height: 44px;
		@include justify-content(center);
		width: 44px;

		span {
			background-color: #fff;
			display: block;
			height: 3px;
			position: relative;
			width: 30px;

			&:nth-child(2) {
				margin: 6px 0;
			}
		}
	}
}