footer.footer-1 {
	.footer-bottom {
		background-color: $color-1;
		color: #fff;
		@include responsiveText(14px, .04);
		padding: 10px 0;
		text-align: center;

		a {
			color: #fff;
			@include responsiveText(16px, .06);
			font-weight: normal;
			letter-spacing: 2px;
			text-decoration: none;
			text-transform: uppercase;

			@include hover {
				text-decoration: underline;
			}
		}
		span {
			color: #fff;
			@include responsiveText(16px, .06);
			font-family: $font-2;
			font-weight: 400;
			letter-spacing: 2px;
		}
	}
}