section.services {
	background-color: lighten($grey-2, 25%);

	.content {
		color: #000;
		margin-bottom: $text-margin;
	}

	.card {
		.card-inner {
			color: #000;
			position: relative;
			text-decoration: none;

			&:before {
				display: none !important;
			}
		}
	}
}